experiments/docker-envoy-oidc/certs
experiments/docker-envoy-oidc/jwt_redirect_filter/target
experiments/docker-envoy-oidc/jwt_redirect_filter.wasm
experiments/docker-envoy-wasm-oidc/jwt_redirect_filter/target
experiments/docker-envoy-wasm-oidc/jwt_redirect_filter.wasm

experiments/kind-kube-rbac-proxy/tls.crt
experiments/kind-kube-rbac-proxy/tls.key

experiments/kind-dex-kube-rbac-prox/certs/*
experiments/kind-dex-kube-rbac-prox/certs
